.showroom {
	margin: 8rem 0 9rem 0;
	position: relative;
	overflow: hidden;
}
.showroom__title {
	text-align: center;
}
.showroom__aboutPage {
	cursor: pointer;
	font-family: 'Special Elite';
	position: absolute;
	top: 50%;
	right: -170px;
	transform: rotate(-90deg);
	transition: transform 2s var(--snap);
	font-size: 3.2rem;
	background: none;
	border: none;
	z-index: 5;
	outline: 0; /* shouldn't've don dis. */
}
.showroom__aboutPage:hover {
	transform: rotate(-90deg) translateY(-10px);
}
.showroom__posts {
	margin-top: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 1075px) {
	.showroom__aboutPage {
		position: relative;
		transform: rotate(0);
		right: 0;
		top: 0;
		margin-top: 2rem;
		text-align: center;
	}
	.showroom {
		padding: 0 3%;
	}
}
