.hero {
	background: url(../../assets/hero-bg.jpg);
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: 100%;
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.hero__top {
	display: flex;
	align-items: flex-end;
}
.hero__name {
	font-family: 'Special Elite', cursive;
	transform: rotate(-15deg) translateY(0);
	font-size: 13rem;
}
.hero__name__letter {
	display: inline-block;
	transition: transform 2s var(--snap);
	cursor: default;
}
.hero__name__letter:hover {
	transform: translateY(20px);
}
.hero__bottom {
	display: flex;
	flex-direction: column;
	text-align: center;
}
