.hero__occupation {
	transform: scale(0.8) rotate(3deg);
	transition: transform 500ms var(--snap);
	color: var(--light);
	background: var(--dark);
	padding: 1.5rem;
	padding-right: 6rem;
	margin-left: -15rem;
	margin-bottom: -10rem;
}
.hero__occupation:hover {
	transform: scale(0.85);
}

@media screen and (max-width: 815px) {
	.hero__occupation {
		margin: 0;
	}
}
@media screen and (max-width: 550px) {
	.hero__occupation p {
		font-size: 1.1rem;
	}
}
