.showroom__post__body {
	grid-column: 1 / 4;
	line-height: 2.5;
	padding: 0 10%;
}
.showroom__post__body * {
	font-size: 1.3rem;
}
.showroom__post__body a {
	color: #4183c4;
	text-decoration: none;
}
.showroom__post__body p,
.showroom__post__body blockquote,
.showroom__post__body ul,
.showroom__post__body ol,
.showroom__post__body dl,
.showroom__post__body li,
.showroom__post__body table,
.showroom__post__body pre {
	margin: 15px 0;
}
.showroom__post__body ul,
.showroom__post__body ol {
	padding-left: 30px;
}
.showroom__post__body blockquote {
	border-left: 4px solid #ddd;
	padding: 0 15px;
	color: #777;
}
.showroom__post__body blockquote > :first-child {
	margin-top: 0;
}
.showroom__post__body blockquote > :last-child {
	margin-bottom: 0;
}
.showroom__post__body img {
	max-width: 100%;
}
.showroom__post__body span.align-center {
	display: block;
	overflow: hidden;
	clear: both;
}
.showroom__post__body span.align-center > span {
	display: block;
	overflow: hidden;
	margin: 13px auto 0;
	text-align: center;
}
.showroom__post__body span.align-center span img {
	margin: 0 auto;
	text-align: center;
}
.showroom__post__body code,
.showroom__post__body tt {
	margin: 0 2px;
	padding: 0 5px;
	white-space: nowrap;
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	border-radius: 3px;
}
.showroom__post__body pre code {
	margin: 0;
	padding: 0;
	white-space: pre;
	border: none;
	background: transparent;
}
.showroom__post__body .highlight pre {
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}
.showroom__post__body pre {
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}
.showroom__post__body pre code,
.showroom__post__body pre tt {
	background-color: transparent;
	border: none;
}
